:root {
    --jet: #433E3F;
    --eerie_black: #252422;
    --onyx: #303633;
    --babyPowder: #FFFFFC;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--onyx);
    color: var(--babyPowder);
    max-width: 80%;
    margin: auto;
    padding: 20px;
    flex-grow: 1;
}

.intro h1 {
    text-align: center; 
}

/* image */
.image-container {
    display: grid;
    place-items: center;
    margin: 24px;  
    padding: 24px;
}

.image-container img { 
    max-width: 50%; 
    height: auto;
    border-radius: 20px;
}

.custom-text-color {
    color: var(--babyPowder);
}


