:root {
    --primary-color: #CAD2C5;
    --secondary-color: #52796F; 
    --accent-color: #6f9b78;
}

header {
    background-color: var(--primary-color); 
    color: var(--secondary-color);
    padding: 0px 0;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none; 
    color: var(--accent-color);
    font-weight: bold;
}