/* Reset some default styles */
:root {
    --primary-color: #CAD2C5;
    --secondary-color: #52796F; 
    --accent-color: #6f9b78;
}

body{
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    flex-grow: 1;
}

/* Create a container for the movie section */
.movie-section { 
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    color: #fff;
}

/* Style the movie section heading */
.movie-section h2 {
    color: var(--secondary-color);
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

/* Style the movie cards */
.movie-card {
    background-color: var(--secondary-color);
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

/* Style the movie card title */
.movie-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style the movie card description */
.movie-card p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style links inside the movie cards */
.movie-card a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.movie-card a:hover {
    color: #ffd700;
} 

/* Media query for responsive design */
@media (max-width: 768px) {
    .movie-card {
        width: 100%;
        margin: 10px 0;
    }
}
