/* styles.css */
:root {
    --primary-color: #CAD2C5;
    --secondary-color: #52796F; 
    --accent-color: #6f9b78;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

main {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    flex-grow: 1;
}

.intro {
    text-align: left;
}

.blog-posts {
    margin-top: 20px;
}

.post {
    margin-bottom: 20px; 
} 

.post h2 {
    font-size: 24px;
    margin: 10px 0;
}

.post a {
    color: var(--accent-color);
}

.post time {
    color: var(--accent-color);
}

.latest-post {
    margin: 0px 0;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
} 

.latest-post a {
    color: var(--accent-color);
}

.latest-post:hover {
    transform: scale(1.1);
}

.youtube-video {
    display: grid;
    place-items: center; 
} 