.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.intro p{
    text-align: left;
}

.image-gallery {
    list-style: none;
    padding: 0;
    text-align: center;
}

.image {
    margin: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.image img {
    max-width: 100%; 
    height: auto;
}

.image:hover {
    transform: scale(1.1);
}
